{% extends "base.html" %}

{% block content %}
<div v-if="loading">
    <div id="loading-overlay">
        <div id="loading-spinner"></div>
    </div>
</div>

<div class="section-padding" id="main-content">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-5 col-12 pe-lg-15">
                <div class="contact-info">
                    <h3 class="mb-4">Breast Cancer Prediction</h3>
                
                    <div class="d-grid">
                        <button class="btn btn-success" v-on:click="get_prediction">Predict</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-12 mt-5 mt-lg-0">
                <h1 class="mb-4 text-center">Probability:</h1>
                <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                    <div class="p-2 m-2 bg-info text-white shadow rounded-2"><h1>{% raw %} {{ output.probability }} {% endraw %} %</h1></div>
                </div>
                <h1 class="text-center">Diagnosis:</h1>
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                        <div class="p-2 m-2 bg-info text-white shadow rounded-2"><h1>{% raw %} {{ output.diagnosis }} {% endraw %}</h1></div>
                    </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}


{% block customjs %}
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vue.global.js') }}"></script>

<script>
    const { createApp } = Vue

    createApp({
        data () {
            return {
                output: {},
                input: {
                    radius_mean: 0.0,
                    texture_mean: 0.0,
                    perimeter_mean: 0.0,
                    area_mean: 0.0,
                    smoothness_mean: 0.0,
                    compactness_mean: 0.0,
                    concavity_mean: 0.0, 
                    concave_points_mean: 0.0, 
                    symmetry_mean : 0.0, 
                    fractal_dimension_mean: 0.0, 
                    radius_se: 0.0, 
                    texture_se: 0.0, 
                    perimeter_se: 0.0, 
                    area_se: 0.0, 
                    smoothness_se: 0.0, 
                    compactness_se: 0.0, 
                    concavity_se: 0.0, 
                    concave_points_se: 0.0, 
                    symmetry_se: 0.0, 
                    fractal_dimension_se: 0.0, 
                    radius_worst: 0.0, 
                    texture_worst: 0.0, 
                    perimeter_worst: 0.0, 
                    area_worst: 0.0, 
                    smoothness_worst: 0.0, 
                    compactness_worst: 0.0, 
                    concavity_worst: 0.0, 
                    concave_points_worst: 0.0, 
                    symmetry_worst: 0.0, 
                    fractal_dimension_worst: 0.0
                },
                loading:false
            }
        },
        created() {
            this.output = {}
        },

        methods: {
            async get_prediction() {
                const url = window.location.origin + "/predict"

                this.input.radius_mean = + this.input.radius_mean
                this.input.texture_mean = + this.input.texture_mean
                this.input.perimeter_mean = + this.input.perimeter_mean
                this.input.area_mean = + this.input.area_mean
                this.input.smoothness_mean = + this.input.smoothness_mean
                this.input.compactness_mean = + this.input.compactness_mean
                this.input.concavity_mean = + this.input.concavity_mean 
                this.input.concave_points_mean = + this.input.concave_points_mean 
                this.input.symmetry_mean = + this.input.symmetry_mean 
                this.input.fractal_dimension_mean = + this.input.fractal_dimension_mean
                this.input.radius_se = + this.input.radius_se 
                this.input.texture_se = + this.input.texture_se
                this.input.perimeter_se = + this.input.perimeter_se 
                this.input.area_se = + this.input.area_se
                this.input.smoothness_se = + this.input.smoothness_se
                this.input.compactness_se = + this.input.compactness_se 
                this.input.concavity_se = + this.input.concavity_se
                this.input.concave_points_se = + this.input.concave_points_se
                this.input.symmetry_se = + this.input.symmetry_se
                this.input.fractal_dimension_se = + this.input.fractal_dimension_se
                this.input.radius_worst = + this.input.radius_worst
                this.input.texture_worst = + this.input.texture_worst 
                this.input.perimeter_worst = + this.input.perimeter_worst
                this.input.area_worst = + this.input.area_worst
                this.input.smoothness_worst = + this.input.smoothness_worst
                this.input.compactness_worst = + this.input.compactness_worst, 
                this.input.concavity_worst = + this.input.concavity_worst
                this.input.concave_points_worst = + this.input.concave_points_worst
                this.input.symmetry_worst = + this.input.symmetry_worst
                this.input.fractal_dimension_worst = + this.input.fractal_dimension_worst

                axios.post(url, this.input, {
                    headers : {
                        'Content-Type' : 'Application/json'
                    }
                }).then(response => {
                    this.output = response.data

                    this.output.probability *= 100
                })

            }
        }
    }).mount("#app")

</script>

{% endblock %}