{% extends "base.html" %}

{% block content %}
<section class="latest-podcast-section section-padding pb-0">
    <div class="container">
        <div class="row justufy-content-center">

            <div class="col-lg-10 col-12 mb-5">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Applications</h4>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/carprice-prediction.jpg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="/car-price-prediction">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Car Price Prediction</h2>

                            <p>Car price prediction estimates the future value of a vehicle. It helps buyers and sellers make informed decisions using historical data and statistical models. </p>
                            <p>The following variables as input or predictor variables: <b>engine size, bore ratio, compression ratio, horsepower, peak rpm, city mpg, and highway mpg.</b> </p>

                            <h6>HOW TO USE</h6>
                            <p><b>To use this car price prediction application, simply input the relevant information and click "predict" to obtain an estimation of the vehicle's value.</b></p>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/carprice-prediction.jpg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="{{ url_for('car_price_prediction') }}">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Car Price Prediction</h2>
                            
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cum illum error odio, ipsa optio non sapiente. Enim, voluptas fugit corporis, voluptatibus animi aliquid, ipsum autem delectus vitae porro molestias. </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}