{% extends "base.html" %}

{% block content %}
<section class="latest-podcast-section section-padding pb-0">
    <div class="container">
        <div class="row justufy-content-center">

            <div class="col-lg-10 col-12">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Applications</h4>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/carprice-prediction.jpg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="/car-price-prediction">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Car Price Prediction</h2>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}