{% extends "base.html" %}

{% block content %}
<section class="about-section section-padding pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <div class="mb-1">
                    <div class="section-title-wrap mb-4">
                        <h5 class="section-title">{{ title }}</h5>
                    </div>

                    <img src="{{ url_for('static', filename='images/logistic-regression.webp') }}" alt="" class="about-image mb-5 img-fluid">
                    <p>Logistic regression is a statistical modeling technique used to predict the probability of a binary outcome based on one or more independent variables. Unlike linear regression, which predicts continuous numeric values, logistic regression is specifically designed for categorical outcomes.</p>
                    <p>The algorithm calculates the logistic function, also known as the sigmoid function, to map the input variables to a probability value between 0 and 1. This probability represents the likelihood of the event occurring or the individual belonging to a particular class. By setting a decision threshold, typically 0.5, we can classify instances into one of the two categories.</p>
                    <p>Logistic regression has diverse applications in medicine, finance, marketing, and social sciences. It predicts disease likelihood in medicine and helps forecast customer churn in marketing.</p>
                    <p>In summary, logistic regression is a valuable tool for predicting binary outcomes and has a wide range of applications in various industries, providing insights into decision-making and aiding in risk assessment.</p>
                
                </div>
            </div>
        </div>
    </div>  
</section>

<section class="latest-podcast-section section-padding pb-0">
    <div class="container">
        <div class="row justufy-content-center">

            <div class="col-lg-10 col-12 mb-5">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Applications</h4>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/strokeprediction.jpg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="/stroke-prediction">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Stroke Prediction</h2>

                            <p>Stroke prediction assesses an individual's risk of having a stroke. It helps healthcare professionals identify high-risk individuals and implement preventive measures.</p>
                            <p>The following variables as input or predictor variables: <b>age, heart disease, work type, average glucose level and body mass index (bmi)</b>. These variables were chosen based to predict the probability of having stroke
                            </p>
                            <h6>HOW TO USE</h6>
                            <p><b>To use this stroke prediction application, simply input the relevant information and click "predict" to obtain an estimation of the probability of having stroke.</b></p>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/diabetes prediction.jpg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="/diabetes-prediction-lr">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Diabetes Prediction (Logistical Regression)</h2>
                            
                            <p>The Diabetes Prediction model is a powerful tool designed to assess the likelihood of an individual developing diabetes based on specific input parameters. By utilizing advanced machine learning techniques and classification models, this model provides accurate predictions, aiding in early detection, personalized healthcare planning, and proactive management of diabetes risk factors. </p>
                            <p> <b>The following variables as input or predictor variables: gender, age, BMI, HbA1c level, blood glucose level, hypertension, heart disease, smoke history.</b> </p>
                            <h6>HOW TO USE</h6>
                            <p><b>To use the diabetes prediction application, input the relevant information and click "predict". The application will analyze this data to estimate the probability of developing diabetes.</b></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}