{% extends "base.html" %}

{% block content %}

<section class="latest-podcast-section section-padding pb-0">
    <div class="container">
        <div class="row justufy-content-center">

            <div class="col-lg-10 col-12 mb-5">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Applications</h4>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/strokeprediction.jpg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="/stroke-prediction">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Stroke Prediction</h2>

                            <p>Stroke prediction assesses an individual's risk of having a stroke. It helps healthcare professionals identify high-risk individuals and implement preventive measures.</p>
                            <p>The following variables as input or predictor variables: <b>age, heart disease, work type, average glucose level and body mass index (bmi)</b>. These variables were chosen based to predict the probability of having stroke
                            </p>
                            <h6>HOW TO USE</h6>
                            <p><b>To use this stroke prediction application, simply input the relevant information and click "predict" to obtain an estimation of the probability of having stroke.</b></p>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/carprice-prediction.jpg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="{{ url_for('car_price_prediction') }}">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Car Price Prediction</h2>
                            
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cum illum error odio, ipsa optio non sapiente. Enim, voluptas fugit corporis, voluptatibus animi aliquid, ipsum autem delectus vitae porro molestias. </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}