{% extends "base.html" %}

{% block content %}
<section class="latest-podcast-section section-padding pb-0">
    <div class="container">
        <div class="row justufy-content-center">

            <div class="col-lg-10 col-12 mb-5">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Applications</h4>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/breastcancerprediction.jpeg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="/breast-cancer-prediction">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Breast Cancer Prediction</h2>

                            <p>Breast cancer prediction estimates the likelihood of an individual developing breast cancer. It helps healthcare professionals identify high-risk individuals for targeted screening and preventive measures.</p>
                            <p>The following variables as input or predictor variables: </p>
                            <ul>
                                <li><b>Radius Lobes</b></li>
                                <li><b>Mean of surface texture</b></li>
                                <li><b>Outer perimeter of lobes</b></li>
                                <li><b>Mean area of lobes</b></li>
                                <li><b>Mean of smoothness levels</b></li>
                                <li><b>Mean of compactness</b></li>
                                <li><b>Mean of concavity</b></li>
                                <li><b>Mean of concave points</b></li>
                                <li><b>Mean of symmetry</b></li>
                                <li><b>Mean of fractal dimension</b></li>
                                <li><b>SE of radius</b></li>
                                <li><b>SE of textture</b></li>
                                <li><b>Perimeter of SE</b></li>
                                <li><b>Area of SE</b></li>
                                <li><b>SE of smoothness</b></li>
                                <li><b>SE of compactness</b></li>
                                <li><b>SE of concavity</b></li>
                                <li><b>SE of concave points</b></li>
                                <li><b>SE of symmetry</b></li>
                                <li><b>SE of fractal dimension</b></li>
                                <li><b>Worst radius</b></li>
                                <li><b>Worst texture</b></li>
                                <li><b>Worst perimeter</b></li>
                                <li><b>Worst smoothness</b></li>
                                <li><b>Worst compactness </b></li>
                                <li><b>Worst concavity</b></li>
                                <li><b>Worst concave points</b></li>
                                <li><b>Worst symmetry</b></li>
                                <li><b>Worst fractal dimension</b></li>

                                <h6 class="mt-3">HOW TO USE</h6>
                                <p><b>To use this breast cancer prediction application, simply input the relevant information and click "predict" to obtain an estimation of the probability whether the cancer type is malignant or benign.</b></p>


                                

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/carprice-prediction.jpg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="{{ url_for('car_price_prediction') }}">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Car Price Prediction</h2>
                            
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cum illum error odio, ipsa optio non sapiente. Enim, voluptas fugit corporis, voluptatibus animi aliquid, ipsum autem delectus vitae porro molestias. </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}