{% extends "base.html" %}

{% block content %}
<section class="about-section section-padding pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <div class="mb-1">
                    <div class="section-title-wrap mb-4">
                        <h5 class="section-title">{{ title }}</h5>
                    </div>

                    <img src="{{ url_for('static', filename='images/neural-network.gif') }}" alt="" class="about-image mb-5 img-fluid">
                    <p>A vanilla neural network, also known as a feedforward neural network or multilayer perceptron (MLP), is a fundamental type of artificial neural network widely used in machine learning. It is called "vanilla" to distinguish it from other specialized or modified neural network architectures.</p>
                    <p>As its core, vanilla neural network is a series of interconnected layers of artificial neurons that process information in a feedforward manner. Each neuron takes input from the previous layer, computes a weighted sum, applies an activation function, and passes the result to the next layer.</p>
                    <p>The purpose of a vanilla neural networks learn patterns in data through training, adjusting neuron weights and biases to minimize prediction errors. Optimization algorithms like gradient descent are commonly used for this training process.</p>
                    <p>The simplicity and flexibility of vanilla neural networks make them a popular choice for many machine learning applications. However, they may have limitations in handling complex data dependencies and can suffer from overfitting if not properly regularized. Advanced neural network architectures, such as convolutional neural networks (CNNs) for image processing or recurrent neural networks (RNNs) for sequential data, have been developed to address specific challenges in different domains.</p>
                    <p>Overall, vanilla neural networks provide a powerful tool for modeling and solving a wide array of problems, leveraging their ability to learn intricate patterns and make predictions based on learned representations.</p>
                
                </div>
            </div>
        </div>
    </div>  
</section>
<section class="latest-podcast-section section-padding pb-0">
    <div class="container">
        <div class="row justufy-content-center">

            <div class="col-lg-10 col-12 mb-5">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Applications</h4>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/breastcancerprediction.jpeg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="/breast-cancer-prediction">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Breast Cancer Prediction</h2>

                            <p>Breast cancer prediction estimates the likelihood of an individual developing breast cancer. It helps healthcare professionals identify high-risk individuals for targeted screening and preventive measures.</p>
                            <p>The following variables as input or predictor variables: </p>
                            <ul>
                                <li><b>Radius Lobes</b></li>
                                <li><b>Mean of surface texture</b></li>
                                <li><b>Outer perimeter of lobes</b></li>
                                <li><b>Mean area of lobes</b></li>
                                <li><b>Mean of smoothness levels</b></li>
                                <li><b>Mean of compactness</b></li>
                                <li><b>Mean of concavity</b></li>
                                <li><b>Mean of concave points</b></li>
                                <li><b>Mean of symmetry</b></li>
                                <li><b>Mean of fractal dimension</b></li>
                                <li><b>SE of radius</b></li>
                                <li><b>SE of textture</b></li>
                                <li><b>Perimeter of SE</b></li>
                                <li><b>Area of SE</b></li>
                                <li><b>SE of smoothness</b></li>
                                <li><b>SE of compactness</b></li>
                                <li><b>SE of concavity</b></li>
                                <li><b>SE of concave points</b></li>
                                <li><b>SE of symmetry</b></li>
                                <li><b>SE of fractal dimension</b></li>
                                <li><b>Worst radius</b></li>
                                <li><b>Worst texture</b></li>
                                <li><b>Worst perimeter</b></li>
                                <li><b>Worst smoothness</b></li>
                                <li><b>Worst compactness </b></li>
                                <li><b>Worst concavity</b></li>
                                <li><b>Worst concave points</b></li>
                                <li><b>Worst symmetry</b></li>
                                <li><b>Worst fractal dimension</b></li>

                                <h6 class="mt-3">HOW TO USE</h6>
                                <p><b>To use this breast cancer prediction application, simply input the relevant information and click "predict" to obtain an estimation of the probability whether the cancer type is malignant or benign.</b></p>


                                

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block-icon-wrap">
                            <div class="custom-block-image-wrap custom-block-image-detail-page">
                                <img src="{{ url_for('static', filename='images/diabetes prediction1.jpg') }}" alt="" class="custom-block-image img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <div class="custom-block-info">
                            <div class="custom-block-top d-flex mb-1">
                                <small class="me-4">
                                    <a href="/diabetes-prediction-nn">
                                        <i class="bi-play">
                                            Go to App
                                        </i>
                                    </a>
                                </small>
                            </div>
                            
                            <h2 class="mb-2">Diabetes Prediction (Neural Network Regression)</h2>
                            
                            <p>The Diabetes Prediction model is a cutting-edge tool designed to accurately assess the risk of an individual developing diabetes. By leveraging advanced machine learning algorithms and classification techniques, this model provides invaluable insights for early detection and proactive management of diabetes. </p>
                            <p>The following variables as input or predictor variables: <b>gender, age, BMI, HbA1c level, blood glucose level, hypertension, heart disease, smoke history. </b></p>
                            <h6 class="mt-3">HOW TO USE</h6>
                            <p><b>To use the diabetes prediction application, input the relevant information and click "predict". The application will analyze this data to estimate the probability of developing diabetes.</b></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}